@import "compass";
@import "bootstrap";

body {
	background: #08C;
	color: #000;
}

.navbar.top-panel {
	background: #fff;
	border: 0px;
	@include box-shadow(#000 0px 2px 10px);
}

a.site-logo {
	color: #000;
	text-decoration: none;
}

ul#main-menu {
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	float: right;
}

.form-add-product {
	position: relative;
	width: 500px;
	overflow: visible;
}

input.btn.btn-inverse.btn-add-product {
	display: block;
	margin: 0 auto;
}

p.product-index.product-name {
	font-size: 1.2em;
	font-weight: bold;
}

table.table.table-products-index {
	width: 100%;
	button a {
		color: #fff;
		text-decoration: none;
	}
}

input.input-search-home {
	width: 100%;
	color: #000;
}

button.btn.btn-inverse.submit-search-home {
	display: block;
	margin: 10px auto;
	text-align: center;
}

.ui-helper-hidden-accessible {
	display: none;
}


ul#ui-id-1 {
	position: absolute; z-index: 999;
	margin: 0;
	padding: 0;
	list-style-type: none;
	// border: solid 3px #000;

	li {
		background: #eee;
		padding: 5px 10px 5px 5px;
		border-bottom: 1px solid #aaa;
		&:hover {
			background: #ccc;
		}
		a {
			text-decoration: none;
			color: #111;
		}
	}
}

.suggestion-label-kcal {
	float: right;
}

.facebook-login-button {
	@include box-shadow(rgba(255, 255, 255, 0.298039) 0px 1px 0px 0px);
	background: rgba(0, 0, 0, 0) url('facebook.png') no-repeat 50% 50%;
	-webkit-border-image: none;
	border: solid 1px rgb(184, 184, 185);
	border-radius: 5px;
	display: inline-block;
	clear: both;
	height: 32px;
	width: 32px;
	margin: 0 0 0 5px;
	padding: 0px;
	vertical-align: middle;
	&:hover {
		@include box-shadow(rgba(0, 0, 0, 0.121569) 0px 3px 8px 0px);
		background-color: rgb(230, 230, 230);
	}
}

.twitter-login-button {
	@extend .facebook-login-button;
	background: rgba(0, 0, 0, 0) url('twitter.png') no-repeat 50% 50%;
}

span.caret {
	position: relative; top: -2px;
}

ul.authenticate-dropdown-menu {
	list-style-type: none;
	text-align: left;
	display: none;
	clear: both;
	float: right;
	li {
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: right;
		a {
			color: rgb(119, 119, 119);
			text-decoration: none;
			&:hover {
				color: #000;
				text-decoration: none;
			}
		}
	}
}

form.form-inline.layout-login {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	.btn {
		margin: 0;
	}
}

.conjunction {
	margin: 0 10px;
	display: inline;
}

.form-message {
	width: 500px;
	textarea {
		width: 100%;
	}
}