@import "compass";
@import "bootstrap";

body {
	background: #08C;
	color: #000;
}

.navbar.top-panel {
	background: #fff;
	border: 0px;
	@include box-shadow(#000 0px 2px 10px);
}

a.site-logo {
	color: #000;
	text-decoration: none;
}

ul#main-menu {
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline;
	float: right;
	// clear: both;
}

.form-add-product {
	position: relative;
	width: 500px;
	overflow: visible;
}

input.btn.btn-inverse.btn-add-product {
	display: block;
	margin: 0 auto;
}

p.product-index.product-name {
	font-size: 1.2em;
	font-weight: bold;
}

table.table.table-products-index {
	width: 100%;
	button a {
		color: #fff;
		text-decoration: none;
	}
}

input.input-search-home {
	width: 100%;
	color: #000;
}

button.btn.btn-inverse.submit-search-home {
	display: block;
	margin: 10px auto;
	text-align: center;
}

.ui-helper-hidden-accessible {
	display: none;
}


ul#ui-id-1 {
	position: absolute; z-index: 999;
	margin: 0;
	padding: 0;
	list-style-type: none;
	// border: solid 3px #000;

	li {
		background: #eee;
		padding: 5px 10px 5px 5px;
		border-bottom: 1px solid #aaa;
		&:hover {
			background: #ccc;
		}
		a {
			text-decoration: none;
			color: #111;
		}
	}
}