%h2 How many calories in...
= form_tag products_path, method: 'get', class: 'form-search' do
	= text_field_tag :query, params[:query], class: 'input-search-home'
	%button.btn.btn-inverse.submit-search-home Search