%table.table.table-products-index

	= render 'products/search'

	- if @products.any? 
		- @products.each do |product|
			%tr
				%td
					%p.product-index.product-name= product.name
				%td
					%p= product.kcal
				%td
					%p= product.unit
				/ %td.action-buttons